body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
table {
      width: 60%;
      border-collapse: collapse;
      margin: 20px auto;
      font-family: Arial;
    }
    th, td {
      border: 1px solid #999;
      padding: 10px;
      text-align: left;
    }
    th {
      background: #f2f2f2;
    }
    button {
      padding: 5px 10px;
      background: red;
      color: white;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background: darkred;
    }
    img{
        width: 300px;
    }